@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;500&family=Mulish:wght@300&family=Open+Sans&family=Roboto:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@500&family=Josefin+Sans:wght@400;500&family=Mulish:wght@300&family=Open+Sans&family=Roboto:wght@300&display=swap");
/* font-family: 'Josefin Sans', sans-serif; */
/* font-family: 'Mulish', sans-serif; */
/* font-family: 'Roboto', sans-serif; */
* {
  margin: 0px;
  padding: 0px;
}

.logo {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-image: url("../RESOURCES/Screenshot__9_-removebg-preview-removebg-preview.png");
  background-size: cover;
  height: 180px;
  width: 200px;
}

nav {
  display: flex;
  gap: 40px;
}

.flex {
  height: 20px;
}

.ab {
  color: #dadada;
  text-decoration: none;
}

.kisan {
  height: 2px;
  width: 0%;
  background-color: #e4aa48;
  margin-top: 5px;
  transition: all 0.5s ease-in-out;
}

.flex:hover .kisan {
  width: 100%;
}

/* ABOUT SECTION!!! */
.abo {
  padding-top: 80px;
  font-family: "Open Sans", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding-bottom: 30px;
}

.ABOUT {
  font-weight: 600;
  padding-top: 50px;
  color: #e4aa48;
  font-size: 18px;
}

.front {
  font-size: 30px;
  font-weight: 600;
  color: #dadada;
  padding-top: 30px;
}

.line {
  height: 2px;
  width: 18%;
  background-color: #e4aa48;
  margin-top: 5px;
}

.text {
  font-size: 18px;
  color: #dadada;
  line-height: 1.5;
  width: 50%;
  text-align: center;
  padding-top: 30px;
}

.load {
  color: #e4aa48;
  font-size: 16px;
  font-weight: 600;
  padding-top: 20px;
}

/* ABOUT SECTION ENDS HERE!!! */

/* ANKER TAG */
.ab {
  color: #dadada;
  text-decoration: none;
}

/* DOWN */
.width {
  background-color: #e4aa48;
  height: 2px;
}

.copy {
  font-size: 14px;
  text-align: center;
  color: white;
  padding: 10px 10px;
}
