@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;500&family=Mulish:wght@300&family=Open+Sans&family=Roboto:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@500&family=Josefin+Sans:wght@400;500&family=Mulish:wght@300&family=Open+Sans&family=Roboto:wght@300&display=swap");
* {
  margin: 0px;
  padding: 0px;
}

.mainwrapper {
  background-color: #2e2e35;
  color: #dadada;
  width: 100%;
  padding-bottom: 50px;
  font-family: "Open Sans", sans-serif;
}

.nav {
  padding-top: 40px;
  width: 100%;
  gap: 10%;
  display: flex;
  justify-content: space-around;
  font-size: 16px;
}

.logo {
  font-weight: 600;
  font-size: 18px;
}

nav {
  display: flex;
  gap: 40px;
}

.flex {
  height: 20px;
}

.ab {
  color: #dadada;
  text-decoration: none;
}

.kisan {
  height: 2px;
  width: 0%;
  background-color: #e4aa48;
  margin-bottom: 23px;
  margin-top: 5px;
  transition: all 0.5s ease-in-out;
}

.flex:hover .kisan {
  width: 100%;
}

.ab {
  color: #dadada;
  text-decoration: none;
}

/* MIDDLE SECTION */
.section {
  background-color: #34343b;
  font-family: "Open Sans", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.edu {
  font-weight: 600;
  padding-top: 50px;
  color: #e4aa48;
  font-size: 18px;
}

.secondary {
  margin-top: 30px;
  width: 50%;
}

.secondar {
  margin-top: 10px;
  width: 50%;
}

.second {
  font-size: 20px;
  border-radius: 5px;
  background-color: #2e2e35;
  box-shadow: 1px 1px 2px #2e2e35;
  width: 100%;
  margin: auto;
  padding: 20px;
  color: #e4aa48;
}

.second:hover {
  background-color: rgba(0, 0, 0, 0.3);

  cursor: pointer;
}

.hidden {
  padding: 20px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  display: flex;
  background-color: #dadada;
  width: 100%;
  /* opacity: 0; */
  /* transform: scale(0); */
  transition: all 1s ease-in-out;
  text-align: center;
  color: #2e2e35;
}

.hidde {
  padding: 20px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  display: flex;
  background-color: #dadada;
  width: 100%;
  opacity: 0;
  /* transform: scale(0); */
  transition: all 1s ease-in-out;
  text-align: center;
  color: #2e2e35;
}

.secondar:hover .hidde {
  opacity: 1;
}

.secondar:hover .hidden {
  opacity: 1;
}

/* DOWN */
.width {
  margin-top: 64px;
  width: 100%;
  background-color: #e4aa48;
  height: 2px;
}

.copy {
  font-size: 14px;
  text-align: center;
  color: white;
  padding: 15px 15px;
}
