@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;500&family=Mulish:wght@300&family=Open+Sans&family=Roboto:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@500&family=Josefin+Sans:wght@400;500&family=Mulish:wght@300&family=Open+Sans&family=Roboto:wght@300&display=swap");
* {
  margin: 0px;
  padding: 0px;
}

.logo {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-image: url("../RESOURCES/Screenshot__9_-removebg-preview-removebg-preview.png");
  background-size: cover;
  height: 180px;
  width: 200px;
}

nav {
  display: flex;
  gap: 40px;
}

.flex {
  height: 20px;
}

.ab {
  color: #dadada;
  text-decoration: none;
}

.kisan {
  height: 2px;
  width: 0%;
  background-color: #e4aa48;
  margin-top: 5px;
  transition: all 0.5s ease-in-out;
}

.flex:hover .kisan {
  width: 100%;
}

.ab {
  color: #dadada;
  text-decoration: none;
}

/* SECTION */
.exp {
  padding-top: 80px;
  font-family: "Open Sans", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.heading {
  font-weight: 600;
  padding-top: 50px;
  color: #e4aa48;
  font-size: 18px;
}

.work {
  background-color: #34343b;
  box-shadow: 1px 1px 2px #2e2e35;
  color: #e4aa48;
  text-align: center;
  padding: 20px;
  font-size: 18px;
  margin-top: 20px;
  border-radius: 5px;
}

.secondar {
  margin-top: 60px;
  width: 50%;
}

.second {
  font-size: 20px;
  border-radius: 5px;
  background-color: #34343b;
  box-shadow: 1px 1px 2px #2e2e35;
  width: 100%;
  margin: auto;
  padding: 20px;
  color: #e4aa48;
}

.second:hover {
  background-color: rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

.hidde {
  padding: 20px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  background-color: #dadada;
  width: 100%;
  opacity: 0;
  transition: all 1s ease-in-out;
  color: #2e2e35;
}

.secondar:hover .hidde {
  opacity: 1;
}

/* DOWN */
.width {
  background-color: #e4aa48;
  height: 2px;
}

.copy {
  font-size: 14px;
  text-align: center;
  color: white;
  padding: 10px 10px;
}
