@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;500&family=Mulish:wght@300&family=Open+Sans&family=Roboto:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@500&family=Josefin+Sans:wght@400;500&family=Mulish:wght@300&family=Open+Sans&family=Roboto:wght@300&display=swap");
/* font-family: 'Josefin Sans', sans-serif; */
/* font-family: 'Mulish', sans-serif; */
/* font-family: 'Roboto', sans-serif; */
* {
  margin: 0px;
  padding: 0px;
}

.mainwrapper {
  background-color: #2e2e35;
  color: #dadada;
  width: 100%;
  font-family: "Open Sans", sans-serif;
}

.nav {
  padding-top: 40px;
  width: 100%;
  gap: 10%;
  display: flex;
  justify-content: space-around;
  font-size: 16px;
}

.logo {
  font-weight: 600;
  font-size: 18px;
}

nav {
  display: flex;
  gap: 40px;
}

/* !!PICTURE!! */
.pic {
  display: flex;
  justify-content: space-around;
  /* width: 100%; */

}

.picture {
  margin-top: 0px;
  display: flex;
  justify-content: space-around;
  width: 80%;
  margin: auto;
}

.image {
  height: 600px;
  width: 60%;
  background-image: url("../RESOURCES/Frame\ 5\ \(2\).png");
  background-size: cover;
}

.text {
  padding-top: 15%;
  color: #dadada;
  text-align: center;
}

.hello {
  font-size: 18px;
  line-height: 1.5;
  font-family: "Roboto", sans-serif;
  margin-bottom: 10px;
}

.name {
  font-size: 50px;
  font-weight: 900;
  font-family: "Heebo", sans-serif;
  line-height: 1.5;
}

span {
  color: #e4aa48;
}

.line {
  height: 2px;
  border: none;
  width: 18%;
  background-color: #e4aa48;
  margin-bottom: 23px;
  margin-top: 5px;
}

.juni {
  font-size: 18px;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  line-height: 1.5;
}

.ifg {
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  padding-top: 15px;
  line-height: 1.5;
}

.a {
  color: #dadada;
}

.a:hover {
  color: #e4aa48;
  cursor: pointer;
}

.resume {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  width: 120px;
  font-family: "Open Sans", sans-serif;
  margin: 25px auto;
  color: #e4aa48;
  font-weight: 600;
  text-align: center;
  border: 2px solid #e4aa48;
}

.resume:hover {
  color: #2e2e35;
  background-color: #e4aa48;
  cursor: pointer;
}

/* PICTURE ENDS HERE!! */

/* ANKER TAG */

.flex {
  /* display: flex; */
  /* flex-direction: column; */
  /* background-color: red; */
  height: 20px;
}

.ab {
  /* width: 0%; */
  color: #dadada;
  text-decoration: none;
}

.kisan {
  height: 2px;
  width: 0%;
  background-color: #e4aa48;
  margin-bottom: 23px;
  margin-top: 5px;
  transition: all 0.5s ease-in-out;
}

.flex:hover .kisan {
  width: 100%;
}

/* DOWN */
.width {
  width: 100%;
  background-color: #e4aa48;
  height: 2px;
}

.copy {
  font-size: 14px;
  text-align: center;
  color: white;
  padding: 15px 15px;
}
