@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;500&family=Mulish:wght@300&family=Open+Sans&family=Roboto:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@500&family=Josefin+Sans:wght@400;500&family=Mulish:wght@300&family=Open+Sans&family=Roboto:wght@300&display=swap");
/* font-family: 'Josefin Sans', sans-serif; */
/* font-family: 'Mulish', sans-serif; */
/* font-family: 'Roboto', sans-serif; */
* {
  margin: 0px;
  padding: 0px;
}

.logo {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-image: url("../RESOURCES/Screenshot__9_-removebg-preview\ \(5\).png");
  background-size: cover;
  height: 180px;
  width: 200px;
}

nav {
  display: flex;
  gap: 40px;
}

.flex {
  height: 20px;
}

.ab {
  color: #dadada;
  text-decoration: none;
}

.kisan {
  height: 2px;
  width: 0%;
  background-color: #e4aa48;
  margin-top: 5px;
  transition: all 0.5s ease-in-out;
}

.flex:hover .kisan {
  width: 100%;
}

/* MIDDLE SECTION */
.port {
  padding-top: 80px;
  font-family: "Open Sans", sans-serif;
  padding-bottom: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.PORT {
  font-weight: 600;
  padding-top: 50px;
  color: #e4aa48;
  font-size: 18px;
}

.front {
  font-size: 30px;
  font-weight: 600;
  color: #dadada;
  padding-top: 30px;
}

.line {
  border: none;
  height: 2px;
  width: 18%;
  background-color: #e4aa48;
  margin-top: 5px;
}

/* ANKER TAG */
.ab {
  color: #dadada;
  text-decoration: none;
}

/* IMAGE SECTION!!! */

.grid {
  margin-top: 50px;
  display: grid;
  grid-template-columns: 45% 45%;
  align-items: center;
  justify-content: space-around;
  gap: 25px;
}

.im {
  height: 250px;
  width: 450px;
  background-image: url("../RESOURCES/Screenshot\ \(3\).png");
  background-size: cover;
  border-radius: 10px;
}

.img {
  height: 250px;
  width: 450px;
  background-image: url("../RESOURCES/Screenshot\ \(4\).png");
  background-size: cover;
  border-radius: 10px;
}
.image {
  height: 250px;
  width: 450px;
  background-image: url("../RESOURCES/Screenshot\ \(6\).png");
  background-size: cover;
  border-radius: 10px;
}

.ig {
  height: 250px;
  width: 450px;
  background-image: url("../RESOURCES/Screenshot\ \(7\).png");
  background-size: cover;
  border-radius: 10px;
}

/* DOWN */
.width {
  background-color: #e4aa48;
  height: 2px;
}

.copy {
  font-size: 14px;
  text-align: center;
  color: white;
  padding: 10px 10px;
}
