@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;500&family=Mulish:wght@300&family=Open+Sans&family=Roboto:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@500&family=Josefin+Sans:wght@400;500&family=Mulish:wght@300&family=Open+Sans&family=Roboto:wght@300&display=swap");
* {
  margin: 0px;
  padding: 0px;
}


.logo {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-image: url("../RESOURCES/Screenshot__9_-removebg-preview\ \(5\).png");
  background-size: cover;
  height: 180px;
  width: 200px;
}

nav {
  display: flex;
  gap: 40px;
}

.flex {
  height: 20px;
}

.ab {
  color: #dadada;
  text-decoration: none;
}

.kisan {
  height: 2px;
  width: 0%;
  background-color: #e4aa48;
  margin-top: 5px;
  transition: all 0.5s ease-in-out;
}

.flex:hover .kisan {
  width: 100%;
}

.ab {
  color: #dadada;
  text-decoration: none;
}

/* MIDDLE SECTION!!! */

.skill {
  font-family: "Open Sans", sans-serif;
}

.CONTACT {
  padding-top: 80px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.contact {
  font-weight: 600;
  padding-top: 50px;
  color: #e4aa48;
  font-size: 18px;
}

.front {
  font-size: 30px;
  font-weight: 600;
  color: #dadada;
  padding-top: 30px;
}

.line {
  border: none;
  height: 2px;
  width: 12%;
  background-color: #e4aa48;
  margin-top: 5px;
}

/* BOX */

.wrapper {
  display: flex;
  width: 80%;
  margin: auto;
}

.box {
  display: flex;
  width: 100%;
  margin-top: 70px;
}

.wrap {
  height: 250px;
  margin: auto;
  background-color: #2e2e35;
  box-shadow: 1px 1px 2px #2e2e35;
}

.head {
  text-align: center;
  font-size: 20px;
  padding-top: 20px;
  font-weight: 600;
  color: #e4aa48;
  padding-bottom: 15px;
  padding-left: 0px;
}

.side {
  display: grid;
  grid-template-columns: 80% 80%;
  padding-left: 40px;
  align-items: center;
  justify-content: center;
}

.icon {
  font-size: 20px;
  display: flex;
  align-items: center;
  gap: 10px;
  padding-top: 20px;
  color: rgb(255, 255, 255);
}

/* DOWN */
.width {
  background-color: #e4aa48;
  height: 2px;
}

.copy {
  font-size: 14px;
  text-align: center;
  color: white;
  padding: 10px 10px;
}
